USE [DentalNovaBD]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 20/02/2026 05:47:07 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Articulos]    Script Date: 20/02/2026 05:47:08 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Articulos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Categoria] [smallint] NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Descripcion] [nvarchar](200) NULL,
	[Codigo] [nvarchar](50) NOT NULL,
	[Reutilizable] [bit] NOT NULL,
	[Stock] [int] NOT NULL,
	[Activo] [bit] NOT NULL,
 CONSTRAINT [PK_Articulos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Citas]    Script Date: 20/02/2026 05:47:08 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Citas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FechaHora] [datetime2](7) NOT NULL,
	[DuracionMinutos] [int] NOT NULL,
	[EstatusCita] [int] NOT NULL,
	[MotivoConsulta] [nvarchar](255) NULL,
	[FechaCreacion] [datetime2](7) NOT NULL,
	[FechaActualizacion] [datetime2](7) NULL,
	[PacienteId] [int] NOT NULL,
	[OdontologoId] [int] NOT NULL,
 CONSTRAINT [PK_Citas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CitasTratamientos]    Script Date: 20/02/2026 05:47:08 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CitasTratamientos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Observaciones] [nvarchar](200) NULL,
	[CostoFinal] [decimal](10, 2) NOT NULL,
	[EstatusTratamiento] [int] NOT NULL,
	[CitaId] [int] NOT NULL,
	[TratamientoId] [int] NOT NULL,
 CONSTRAINT [PK_CitasTratamientos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CompraArticulos]    Script Date: 20/02/2026 05:47:08 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CompraArticulos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Cantidad] [int] NOT NULL,
	[PrecioUnitario] [decimal](10, 2) NOT NULL,
	[Subtotal] [decimal](10, 2) NOT NULL,
	[FechaCompra] [datetime] NOT NULL,
	[MetodoPago] [int] NOT NULL,
	[Proveedor] [nvarchar](50) NOT NULL,
	[ArticuloId] [int] NOT NULL,
 CONSTRAINT [PK_CompraArticulos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Especialidades]    Script Date: 20/02/2026 05:47:08 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Especialidades](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Especialidades] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EspecialidadOdontologo]    Script Date: 20/02/2026 05:47:08 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EspecialidadOdontologo](
	[EspecialidadesId] [int] NOT NULL,
	[OdontologosId] [int] NOT NULL,
 CONSTRAINT [PK_EspecialidadOdontologo] PRIMARY KEY CLUSTERED 
(
	[EspecialidadesId] ASC,
	[OdontologosId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HorariosOdontologos]    Script Date: 20/02/2026 05:47:08 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HorariosOdontologos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DiaSemana] [int] NOT NULL,
	[HoraInicio] [time](7) NOT NULL,
	[HoraFin] [time](7) NOT NULL,
	[Activo] [bit] NOT NULL,
	[Consultorio] [nvarchar](100) NOT NULL,
	[OdontologoId] [int] NOT NULL,
 CONSTRAINT [PK_HorariosOdontologos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LogActividades]    Script Date: 20/02/2026 05:47:08 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LogActividades](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FechaHora] [datetime2](7) NOT NULL,
	[AccionRealizada] [nvarchar](50) NOT NULL,
	[Detalles] [nvarchar](150) NULL,
	[UsuarioId] [int] NOT NULL,
 CONSTRAINT [PK_LogActividades] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Odontologos]    Script Date: 20/02/2026 05:47:08 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Odontologos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CedulaProfesional] [nvarchar](50) NOT NULL,
	[AnioGraduacion] [smallint] NULL,
	[Institucion] [nvarchar](150) NULL,
	[FechaIngreso] [date] NOT NULL,
	[UsuarioId] [int] NOT NULL,
 CONSTRAINT [PK_Odontologos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pacientes]    Script Date: 20/02/2026 05:47:08 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pacientes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Edad] [tinyint] NOT NULL,
	[ConAlergias] [bit] NOT NULL,
	[ConEnfermedadesCronicas] [bit] NOT NULL,
	[ConMedicamentosActuales] [bit] NOT NULL,
	[ConAntecedentesFamiliares] [bit] NOT NULL,
	[Alergias] [nvarchar](255) NULL,
	[EnfermedadesCronicas] [nvarchar](255) NULL,
	[MedicamentosActuales] [nvarchar](255) NULL,
	[AntecedentesFamiliares] [nvarchar](255) NULL,
	[Observaciones] [nvarchar](255) NULL,
	[FechaCreacion] [datetime2](7) NOT NULL,
	[FechaActualizacion] [datetime2](7) NULL,
	[UsuarioId] [int] NOT NULL,
 CONSTRAINT [PK_Pacientes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pagos]    Script Date: 20/02/2026 05:47:08 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pagos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Monto] [decimal](10, 2) NOT NULL,
	[FechaPago] [datetime2](7) NOT NULL,
	[MetodoPago] [int] NOT NULL,
	[PacienteId] [int] NOT NULL,
	[CitaId] [int] NOT NULL,
 CONSTRAINT [PK_Pagos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Recordatorios]    Script Date: 20/02/2026 05:47:08 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Recordatorios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FechaEnvio] [datetime2](7) NULL,
	[Mensaje] [nvarchar](500) NULL,
	[Enviado] [bit] NOT NULL,
	[CitaId] [int] NOT NULL,
 CONSTRAINT [PK_Recordatorios] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 20/02/2026 05:47:08 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Descripcion] [nvarchar](250) NOT NULL,
	[UsuarioId] [int] NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tratamientos]    Script Date: 20/02/2026 05:47:08 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tratamientos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Descripcion] [nvarchar](500) NULL,
	[Costo] [decimal](10, 2) NOT NULL,
	[DuracionDias] [int] NOT NULL,
	[Activo] [bit] NOT NULL,
 CONSTRAINT [PK_Tratamientos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 20/02/2026 05:47:08 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Apellidos] [nvarchar](100) NOT NULL,
	[CorreoElectronico] [nvarchar](100) NOT NULL,
	[Telefono] [nvarchar](15) NULL,
	[FechaNacimiento] [date] NULL,
	[Genero] [nvarchar](1) NULL,
	[CURP] [nvarchar](18) NOT NULL,
	[Password] [nvarchar](255) NOT NULL,
	[Activo] [bit] NOT NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Articulos] ADD  DEFAULT (CONVERT([bit],(1))) FOR [Activo]
GO
ALTER TABLE [dbo].[Citas] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[HorariosOdontologos] ADD  DEFAULT (CONVERT([bit],(1))) FOR [Activo]
GO
ALTER TABLE [dbo].[LogActividades] ADD  DEFAULT (getdate()) FOR [FechaHora]
GO
ALTER TABLE [dbo].[Pacientes] ADD  DEFAULT (CONVERT([bit],(0))) FOR [ConAlergias]
GO
ALTER TABLE [dbo].[Pacientes] ADD  DEFAULT (CONVERT([bit],(0))) FOR [ConEnfermedadesCronicas]
GO
ALTER TABLE [dbo].[Pacientes] ADD  DEFAULT (CONVERT([bit],(0))) FOR [ConMedicamentosActuales]
GO
ALTER TABLE [dbo].[Pacientes] ADD  DEFAULT (CONVERT([bit],(0))) FOR [ConAntecedentesFamiliares]
GO
ALTER TABLE [dbo].[Pacientes] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Pagos] ADD  DEFAULT (getdate()) FOR [FechaPago]
GO
ALTER TABLE [dbo].[Recordatorios] ADD  DEFAULT (CONVERT([bit],(0))) FOR [Enviado]
GO
ALTER TABLE [dbo].[Tratamientos] ADD  DEFAULT (CONVERT([bit],(1))) FOR [Activo]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT (CONVERT([bit],(1))) FOR [Activo]
GO
ALTER TABLE [dbo].[Citas]  WITH CHECK ADD  CONSTRAINT [FK_Citas_Odontologos_OdontologoId] FOREIGN KEY([OdontologoId])
REFERENCES [dbo].[Odontologos] ([Id])
GO
ALTER TABLE [dbo].[Citas] CHECK CONSTRAINT [FK_Citas_Odontologos_OdontologoId]
GO
ALTER TABLE [dbo].[Citas]  WITH CHECK ADD  CONSTRAINT [FK_Citas_Pacientes_PacienteId] FOREIGN KEY([PacienteId])
REFERENCES [dbo].[Pacientes] ([Id])
GO
ALTER TABLE [dbo].[Citas] CHECK CONSTRAINT [FK_Citas_Pacientes_PacienteId]
GO
ALTER TABLE [dbo].[CitasTratamientos]  WITH CHECK ADD  CONSTRAINT [FK_CitasTratamientos_Citas_CitaId] FOREIGN KEY([CitaId])
REFERENCES [dbo].[Citas] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CitasTratamientos] CHECK CONSTRAINT [FK_CitasTratamientos_Citas_CitaId]
GO
ALTER TABLE [dbo].[CitasTratamientos]  WITH CHECK ADD  CONSTRAINT [FK_CitasTratamientos_Tratamientos_TratamientoId] FOREIGN KEY([TratamientoId])
REFERENCES [dbo].[Tratamientos] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CitasTratamientos] CHECK CONSTRAINT [FK_CitasTratamientos_Tratamientos_TratamientoId]
GO
ALTER TABLE [dbo].[CompraArticulos]  WITH CHECK ADD  CONSTRAINT [FK_CompraArticulos_Articulos_ArticuloId] FOREIGN KEY([ArticuloId])
REFERENCES [dbo].[Articulos] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CompraArticulos] CHECK CONSTRAINT [FK_CompraArticulos_Articulos_ArticuloId]
GO
ALTER TABLE [dbo].[EspecialidadOdontologo]  WITH CHECK ADD  CONSTRAINT [FK_EspecialidadOdontologo_Especialidades_EspecialidadesId] FOREIGN KEY([EspecialidadesId])
REFERENCES [dbo].[Especialidades] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EspecialidadOdontologo] CHECK CONSTRAINT [FK_EspecialidadOdontologo_Especialidades_EspecialidadesId]
GO
ALTER TABLE [dbo].[EspecialidadOdontologo]  WITH CHECK ADD  CONSTRAINT [FK_EspecialidadOdontologo_Odontologos_OdontologosId] FOREIGN KEY([OdontologosId])
REFERENCES [dbo].[Odontologos] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EspecialidadOdontologo] CHECK CONSTRAINT [FK_EspecialidadOdontologo_Odontologos_OdontologosId]
GO
ALTER TABLE [dbo].[HorariosOdontologos]  WITH CHECK ADD  CONSTRAINT [FK_HorariosOdontologos_Odontologos_OdontologoId] FOREIGN KEY([OdontologoId])
REFERENCES [dbo].[Odontologos] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HorariosOdontologos] CHECK CONSTRAINT [FK_HorariosOdontologos_Odontologos_OdontologoId]
GO
ALTER TABLE [dbo].[LogActividades]  WITH CHECK ADD  CONSTRAINT [FK_LogActividades_Usuarios_UsuarioId] FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[Usuarios] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LogActividades] CHECK CONSTRAINT [FK_LogActividades_Usuarios_UsuarioId]
GO
ALTER TABLE [dbo].[Odontologos]  WITH CHECK ADD  CONSTRAINT [FK_Odontologos_Usuarios_UsuarioId] FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[Usuarios] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Odontologos] CHECK CONSTRAINT [FK_Odontologos_Usuarios_UsuarioId]
GO
ALTER TABLE [dbo].[Pacientes]  WITH CHECK ADD  CONSTRAINT [FK_Pacientes_Usuarios_UsuarioId] FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[Usuarios] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Pacientes] CHECK CONSTRAINT [FK_Pacientes_Usuarios_UsuarioId]
GO
ALTER TABLE [dbo].[Pagos]  WITH CHECK ADD  CONSTRAINT [FK_Pagos_Citas_CitaId] FOREIGN KEY([CitaId])
REFERENCES [dbo].[Citas] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Pagos] CHECK CONSTRAINT [FK_Pagos_Citas_CitaId]
GO
ALTER TABLE [dbo].[Pagos]  WITH CHECK ADD  CONSTRAINT [FK_Pagos_Pacientes_PacienteId] FOREIGN KEY([PacienteId])
REFERENCES [dbo].[Pacientes] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Pagos] CHECK CONSTRAINT [FK_Pagos_Pacientes_PacienteId]
GO
ALTER TABLE [dbo].[Recordatorios]  WITH CHECK ADD  CONSTRAINT [FK_Recordatorios_Citas_CitaId] FOREIGN KEY([CitaId])
REFERENCES [dbo].[Citas] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Recordatorios] CHECK CONSTRAINT [FK_Recordatorios_Citas_CitaId]
GO
ALTER TABLE [dbo].[Roles]  WITH CHECK ADD  CONSTRAINT [FK_Roles_Usuarios_UsuarioId] FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[Usuarios] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Roles] CHECK CONSTRAINT [FK_Roles_Usuarios_UsuarioId]
GO
